<div id="deleteConfirmModal" class="modal fade" tabindex="-1" role="alertdialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete record</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this?
            </div>
            <div class="modal-footer">
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Yes</button>
                <button data-dismiss="modal" type="button" class="btn btn-default">No</button>
            </div>
        </div>
    </div>
</div>
